In [860]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [861]:
# je charge le fichier qui servira d' entrainement pour ma prédiction

df_train = pd.read_csv('train.csv',sep=',')

In [862]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [863]:
# vérification des données manquantes

df_train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [864]:
# je vais récupérer les données manquantes de l'age en faisant une moyenne de l'age par sexe

In [865]:
df_train['Sex'].unique()

array(['male', 'female'], dtype=object)

In [866]:
df_male=df_train[df_train['Sex']=='male']

In [867]:
df_female=df_train[df_train['Sex']=='female']

In [868]:
round(df_male['Age'].mean())

31

In [869]:
round(df_female['Age'].mean())

28

In [870]:
df_male['Age']=df_male['Age'].fillna(31)

/home/simplonco/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [871]:
df_female['Age']=df_female['Age'].fillna(28)

/home/simplonco/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [872]:
df_train=pd.concat([df_male,df_female])

In [873]:
# je vais créer une colonne "agegroup" pour détailler les ages des passagers pour un meilleur entrainement
# de mon model de prédiction

In [874]:
agegroup=[]
for i,elem in enumerate(df_train['Age']):
    if round(elem) <= 12:
        agegroup.append('enfant')
    elif round(elem) >= 13 & round(elem) <= 18:
        agegroup.append('adolescent')
    elif round(elem) >= 19 & round(elem) <= 34:
        agegroup.append('jeune adulte')
    elif round(elem) >= 35 & round(elem) <= 49:
        agegroup.append('adulte')
    elif round(elem) >= 50:
        agegroup.append('âgée')

In [875]:
len(agegroup)

891

In [876]:
df_train['AgeGroup']=agegroup

In [877]:
# je peus effacer ma colonne age maintenant

df_train=df_train.drop(['Age'],axis=1)

In [878]:
# je retire la colonne 'Cabin' car il me manque 3/4 des données et la colonne ticket

df_train=df_train.drop(['Cabin'],axis=1)

In [879]:
df_train=df_train.drop(['Ticket'],axis=1)

In [880]:
# j'analyse la colonne 'Embarked' qui correspond au 3 villes ou on eu lieux les embarcation

df_train['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [881]:
# je remarque que plus des 3/4 des embarcations ont eu lieux à Southampton (S)
# je remplace mes 2 données manquantes en concéquence

df_train['Embarked']=df_train['Embarked'].fillna('S')

In [882]:
df_train[:2]

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Fare,Embarked,AgeGroup
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,7.25,S,adolescent
4,5,0,3,"Allen, Mr. William Henry",male,0,0,8.05,S,adolescent

In [883]:
# je vais maintenant analyser les titres sociaux de la colonne 'Name'
# et en créer une colonne pour une meilleur prédiction

In [884]:
title=[]
for elem in df_train['Name']:
    if 'Mr' in elem:
        title.append('Mr')
    elif 'Master' in elem:
        title.append('Master')
    elif 'Rev' in elem:
        title.append('Rev')
    elif 'Dr' in elem:
        title.append('Dr')
    elif 'Capt' in elem:
        title.append('Capt')
    elif 'Don' in elem:
        title.append('Don')
    elif 'Major' in elem:
        title.append('Major')
    elif 'Col.' in elem:
        title.append('Col')
    elif 'Miss' in elem:
        title.append('Miss')
    elif 'Mrs' in elem:
        title.append('Mrs')
    elif 'Mlle' in elem:
        title.append('Mlle')
    elif 'Ms' in elem:
        title.append('Ms')
    elif 'Mme' in elem:
        title.append('Mme')
    elif 'Countess' in elem:
        title.append('Countess')
    else:
        title.append('Uncknow')

In [885]:
df_train['Title']=title

In [886]:
df_train[:2]

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Fare,Embarked,AgeGroup,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,7.25,S,adolescent,Mr
4,5,0,3,"Allen, Mr. William Henry",male,0,0,8.05,S,adolescent,Mr

In [887]:
# je vais maintenant effacer la colonne 'Name' et convertir mes colonnes en numérique

In [888]:
df_train=df_train.drop(['Name'],axis=1)

In [889]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 888
Data columns (total 10 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       891 non-null object
AgeGroup       891 non-null object
Title          891 non-null object
dtypes: float64(1), int64(5), object(4)
memory usage: 76.6+ KB

In [890]:
dico_sex = {}
for i,elem in enumerate(df_train['Sex'].unique()):
    dico_sex[elem]=i

In [891]:
df_train['Sex']=df_train['Sex'].map(dico_sex)

In [892]:
dico_embarked = {}
for i,elem in enumerate(df_train['Embarked'].unique()):
    dico_embarked[elem]=i

In [893]:
df_train['Embarked']=df_train['Embarked'].map(dico_embarked)

In [894]:
dico_agegroup = {}
for i,elem in enumerate(df_train['AgeGroup'].unique()):
    dico_agegroup[elem]=i

In [895]:
df_train['AgeGroup']=df_train['AgeGroup'].map(dico_agegroup)

In [896]:
dico_title = {}
for i,elem in enumerate(df_train['Title'].unique()):
    dico_title[elem]=i

In [897]:
df_train['Title']=df_train['Title'].map(dico_title)

In [898]:
df_train[:2]

,PassengerId,Survived,Pclass,Sex,SibSp,Parch,Fare,Embarked,AgeGroup,Title
0,1,0,3,0,1,0,7.25,0,0,0
4,5,0,3,0,0,0,8.05,0,0,0

In [899]:
# colonne 'Fare'

fare=[]
for elem in df_train['Fare']:
    if round(elem) <= 10:
        fare.append(1)
    elif round(elem) >= 11 & round(elem) <= 20:
        fare.append(2)
    elif round(elem) >= 21 & round(elem) <= 30:
        fare.append(3)
    elif round(elem) >= 31:
        fare.append(4)
    else:
        print(elem)

In [900]:
df_train['Fareband']=fare

In [901]:
df_train=df_train.drop(['Fare'],axis=1)

In [902]:
# mon model de prédiction est près

# je vais m' occuper maintenant de mon fichier de test
# (effectuer les méthode d'analyse faite sur mon fichier train)

df_test=pd.read_csv('test.csv',sep=',')

In [903]:
df_test.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [904]:
round(df_test['Fare'].mean())

36

In [905]:
df_test['Fare']=df_test['Fare'].fillna(36)

In [906]:
fare=[]
for elem in df_test['Fare']:
    if round(elem) <= 10:
        fare.append(1)
    elif round(elem) >= 11 & round(elem) <= 20:
        fare.append(2)
    elif round(elem) >= 21 & round(elem) <= 30:
        fare.append(3)
    elif round(elem) >= 31:
        fare.append(4)
    else:
        print(elem)

In [907]:
df_test['Fareband']=fare

In [908]:
df_test=df_test.drop(['Fare'],axis=1)

In [909]:
df_male_test=df_test[df_test['Sex']=='male']
df_female_test=df_test[df_test['Sex']=='female']

In [910]:
df_male_test['Age']=df_male_test['Age'].fillna(31)
df_female_test['Age']=df_female_test['Age'].fillna(28)

/home/simplonco/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/simplonco/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [911]:
df_test=pd.concat([df_male_test,df_female_test])

In [912]:
agegroup=[]
for i,elem in enumerate(df_test['Age']):
    if round(elem) <= 12:
        agegroup.append('enfant')
    elif round(elem) >= 13 & round(elem) <= 18:
        agegroup.append('adolescent')
    elif round(elem) >= 19 & round(elem) <= 34:
        agegroup.append('jeune adulte')
    elif round(elem) >= 35 & round(elem) <= 49:
        agegroup.append('adulte')
    elif round(elem) >= 50:
        agegroup.append('âgée')

In [913]:
df_test['AgeGroup']=agegroup

In [914]:
df_test=df_test.drop(['Age'],axis=1)

In [915]:
df_test=df_test.drop(['Cabin'],axis=1)

In [916]:
df_test=df_test.drop(['Ticket'],axis=1)

In [917]:
title=[]
for elem in df_test['Name']:
    if 'Mr' in elem:
        title.append('Mr')
    elif 'Master' in elem:
        title.append('Master')
    elif 'Rev' in elem:
        title.append('Rev')
    elif 'Dr' in elem:
        title.append('Dr')
    elif 'Capt' in elem:
        title.append('Capt')
    elif 'Don' in elem:
        title.append('Don')
    elif 'Major' in elem:
        title.append('Major')
    elif 'Col.' in elem:
        title.append('Col')
    elif 'Miss' in elem:
        title.append('Miss')
    elif 'Mrs' in elem:
        title.append('Mrs')
    elif 'Mlle' in elem:
        title.append('Mlle')
    elif 'Ms' in elem:
        title.append('Ms')
    elif 'Mme' in elem:
        title.append('Mme')
    elif 'Countess' in elem:
        title.append('Countess')
    else:
        title.append('Uncknow')

In [918]:
df_test['Title']=title

In [919]:
df_test=df_test.drop(['Name'],axis=1)

In [920]:
dico_sex = {}
for i,elem in enumerate(df_test['Sex'].unique()):
    dico_sex[elem]=i

In [921]:
df_test['Sex']=df_test['Sex'].map(dico_sex)

In [922]:
dico_embarked = {}
for i,elem in enumerate(df_test['Embarked'].unique()):
    dico_embarked[elem]=i

In [923]:
df_test['Embarked']=df_test['Embarked'].map(dico_embarked)

In [924]:
dico_agegroup = {}
for i,elem in enumerate(df_test['AgeGroup'].unique()):
    dico_agegroup[elem]=i

In [925]:
df_test['AgeGroup']=df_test['AgeGroup'].map(dico_agegroup)

In [926]:
dico_title = {}
for i,elem in enumerate(df_test['Title'].unique()):
    dico_title[elem]=i

In [927]:
df_test['Title']=df_test['Title'].map(dico_title)

In [928]:
from sklearn.model_selection import train_test_split

predictors = df_train.drop(['Survived', 'PassengerId'], axis=1)
target = df_train["Survived"]

In [929]:
x_train, x_val, y_train, y_val = train_test_split(predictors, target, test_size = 0.25, random_state = 0)

In [930]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score

gbk = GradientBoostingClassifier()
gbk.fit(x_train, y_train)
y_pred = gbk.predict(x_val)
acc_gbk = round(accuracy_score(y_pred, y_val) * 100, 2)
print(acc_gbk)

80.27

In [931]:
from sklearn.ensemble import RandomForestClassifier

randomforest = RandomForestClassifier()
randomforest.fit(x_train, y_train)
y_pred = randomforest.predict(x_val)
acc_randomforest = round(accuracy_score(y_pred, y_val) * 100, 2)
print(acc_randomforest)

79.82

In [932]:
from sklearn.svm import SVC

svc = SVC()
svc.fit(x_train, y_train)
y_pred = svc.predict(x_val)
acc_svc = round(accuracy_score(y_pred, y_val) * 100, 2)
print(acc_svc)

82.06

In [933]:
from sklearn.metrics import mean_squared_error
import xgboost as xgb
from sklearn.metrics import accuracy_score
import math

model = xgb.XGBClassifier()
model.fit(x_train, y_train)

model.fit(x_train, y_train)
print("debut du predict")
y_pred = model.predict(x_val)
acc_svc = round(accuracy_score(y_pred, y_val) * 100, 2)
print(acc_svc)

debut du predict
79.37

/home/simplonco/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [934]:
ids = df_test['PassengerId']
predictions = randomforest.predict(df_test.drop('PassengerId', axis=1))

# sauvegarde d'un csv pour le site kaggle.com

output = pd.DataFrame({ 'PassengerId' : ids, 'Survived': predictions })
output.to_csv('submission.csv', index=False)